.bunner {
  display: flex;
  padding: 90px 0;
  gap: 40px;
}

.bunner__img {
  border-radius: 4px;
  flex-grow: 1;
  max-width: 100%;
  height: auto;
}

.bunner__info {
  width: 43%;
  padding-left: 135px;
}

.bunner__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: var(--text-primary);
  padding-bottom: 40px;
}

.bunner__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--text-secondary);
}

/* --- Медиа-запросы --- */

@media (width <= 1024px) {
  .bunner__info {
    width: 50%;
    padding-left: 60px;
  }

  .bunner__title {
    font-size: 36px;
  }
}

@media (width <= 768px) {
  .bunner {
    flex-direction: column;
    padding: 60px 0;
  }

  .bunner__info {
    width: 100%;
    padding-left: 0;
    padding-top: 24px;
  }

  .bunner__title {
    font-size: 28px;
    text-align: center;
  }

  .bunner__text {
    text-align: center;
  }
}

@media (width <= 480px) {
  .bunner {
    padding: 40px 0;
  }

  .bunner__title {
    font-size: 24px;
  }

  .bunner__text {
    font-size: 14px;
  }
}
