.form_analysis {
  background-image: url('/images/background_analysis.svg');
  background-color: var(--primary);
  border-radius: 8px;
}

.analysis__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  text-align: center;
  color: var(--color-white);
  padding-top: 48px;
  padding-bottom: 32px;
}

.analysis-form__fields {
  display: grid;
  grid-template-columns: 1fr 1fr 338px 180px;
  gap: 24px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 48px;
  align-items: end;
}

.analysis-form__label {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-white);
  padding-bottom: 8px;
}

.analysis-form__input {
  width: 100%;
  height: 44px;
  border: 1px solid transparent;
  border-radius: 4px;
  background: var(--color-gray-200);
  color: var(--color-gray-900);
  font-size: 16px;
  padding: 0 16px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.analysis-form__input:hover,
.analysis-form__input:focus {
  border-color: var(--color-white);
  box-shadow: inset 0 0 6px rgb(255 255 255 / 40%);
  outline: none;
  background: rgb(255 255 255 / 18%);
  color: var(--color-white);
}

.analysis-form__button {
  width: 100%;
  height: 44px;
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: var(--color-gray-900);
  font-weight: 700;
}

.analysis-form__button:hover {
  background: rgb(255 255 255 / 90%);
  color: var(--color-gray-900);
  transform: translateY(-1px);
  box-shadow: 0 2px 6px rgb(255 255 255 / 30%);
}

@media (width <= 1024px) {
  .analysis-form__fields {
    grid-template-columns: 1fr 1fr 1fr; /* упрощаем колонки */
    gap: 16px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (width <= 768px) {
  .analysis__title {
    font-size: 24px;
    padding-top: 32px;
    padding-bottom: 24px;
  }

  .analysis-form__fields {
    grid-template-columns: 1fr; /* одна колонка */
    gap: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .analysis-form__input,
  .analysis-form__button {
    height: 44px;
  }
}

@media (width <= 480px) {
  .analysis__title {
    font-size: 20px;
    padding-top: 24px;
    padding-bottom: 16px;
  }

  .analysis-form__fields {
    gap: 12px;
  }

  .analysis-form__input,
  .analysis-form__button {
    font-size: 14px;
    padding: 0 12px;
  }
}
