.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.header__title {
  display: inline-block;
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--text-inverse);
  padding-bottom: 32px;
}

.header__subtitle {
  display: inline-block;
  max-width: 810px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: var(--text-inverse-secondary);
  padding-bottom: 40px;
}

/* --- Адаптивность  --- */

@media (width <= 1024px) {
  .header__title {
    font-size: 60px;
    padding-bottom: 24px;
  }

  .header__subtitle {
    font-size: 18px;
    max-width: 600px;
    padding-bottom: 32px;
  }
}

@media (width <= 768px) {
  .header__title {
    font-size: 48px;
    padding-bottom: 20px;
  }

  .header__subtitle {
    font-size: 16px;
    max-width: 100%;
    padding-bottom: 24px;
  }
}

@media (width <= 480px) {
  .header__title {
    font-size: 36px;
    padding-bottom: 16px;
  }

  .header__subtitle {
    font-size: 14px;
    padding-bottom: 16px;
  }
}
