.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__header {
  flex-shrink: 0;
  background-image: url('/images/background.jpg');
}

.page__content {
  flex-grow: 1;
  background-color: var(--background);
  background-image: url('/images/Background_content.svg');
  background-position: center;
}

.page__footer {
  flex-shrink: 0;
  background-color: var(--background-footer);
  color: var(--color-white);
}
