.analysis-form {
  background-image: url('/images/background_analysis.svg');
  background-color: var(--primary);
  border-radius: 8px;
}

.analysis-form__title {
  font-weight: 900;
  font-size: 28px;
  line-height: 130%;
  text-align: center;
  color: var(--color-white);
  padding: 32px 20px 20px;
}

.analysis-form__fields {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 0 20px 32px;
  align-items: end;
}

.analysis-form__label {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-white);
  padding-bottom: 8px;
}

.analysis-form__input {
  width: 100%;
  height: 48px;
  border: 1px solid transparent;
  border-radius: 4px;
  background: var(--color-gray-200);
  color: var(--color-gray-900);
  font-size: 16px;
  padding: 0 16px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.analysis-form__input:hover,
.analysis-form__input:focus {
  border-color: var(--color-white);
  box-shadow: inset 0 0 6px rgb(255 255 255 / 40%);
  outline: none;
  background: rgb(255 255 255 / 18%);
  color: var(--color-white);
}

.analysis-form__button {
  width: 100%;
  height: 48px;
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: var(--color-gray-900);
  font-weight: 700;
  margin-top: 8px;
}

.analysis-form__button:hover {
  background: rgb(255 255 255 / 90%);
  color: var(--color-gray-900);
  transform: translateY(-1px);
  box-shadow: 0 2px 6px rgb(255 255 255 / 30%);
}

@media (--md-viewport) {
  .analysis-form__title {
    font-size: 36px;
    padding-top: 40px;
    padding-bottom: 24px;
  }

  .analysis-form__fields {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0 40px 40px;
  }

  .analysis-form__button {
    grid-column: span 2;
    height: 44px;
  }

  .analysis-form__input {
    height: 44px;
  }
}

@media (--lg-viewport) {
  .analysis-form__fields {
    grid-template-columns: 1fr 1fr 338px 180px;
    gap: 24px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 48px;
  }

  .analysis-form__button {
    grid-column: span 1;
  }

  .analysis-form__title {
    font-size: 32px;
    padding-top: 48px;
    padding-bottom: 32px;
  }
}
