.banner {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  gap: 24px;
}

.banner__media {
  border-radius: 4px;
  flex-grow: 1;
  max-width: 100%;
  height: auto;
}

.banner__image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.banner__content {
  width: 100%;
  padding-left: 0;
}

.banner__title {
  font-weight: 900;
  font-size: 28px;
  line-height: 130%;
  text-align: center;
  color: var(--text-primary);
  padding-bottom: 20px;
}

.banner__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--text-secondary);
  text-align: center;
}

@media (--md-viewport) {
  .banner {
    flex-direction: row;
    padding: 50px 0;
    gap: 24px;
  }

  .banner__content {
    width: 80%;
    padding-left: 30px;
  }

  .banner__title {
    font-size: 30px;
    text-align: left;
    padding-bottom: 20px;
  }

  .banner__text {
    text-align: left;
  }
}

@media (--lg-viewport) {
  .banner {
    padding: 90px 0;
    gap: 40px;
  }

  .banner__content {
    width: 43%;
    padding-left: 135px;
  }

  .banner__title {
    font-size: 46px;
    padding-bottom: 40px;
  }
}
