.clients {
  padding-top: 40px;
}

.clients__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.clients__item {
  flex: 0 0 calc(33.3% - 20px);
}

@media (--md-viewport) {
  .clients {
    padding-top: 60px;
  }

  .clients__list {
    gap: 50px;
    row-gap: 30px;
  }

  .clients__item {
    flex: 0 0 auto;
  }
}

@media (--lg-viewport) {
  .clients {
    padding-top: 90px;
  }

  .clients__list {
    gap: 102px;
  }
}
