.pricing {
}

.pricing__title {
  font-weight: 900;
  font-size: 28px;
  line-height: 130%;
  text-align: center;
  color: var(--text-primary);
  padding-bottom: 32px;
}

.pricing__toggle {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 36px;
  margin: 0 auto 32px;
  border: 1px solid var(--primary);
  border-radius: 40px;
  background: transparent;
  overflow: hidden;
}

.pricing__toggle-btn {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  border: none;
  outline: none;
  color: var(--primary);
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  transition: all 0.3s ease;
  cursor: pointer;
  background: transparent;
}

.pricing__toggle-discount {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--primary);
}

.pricing__toggle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 54%;
  height: 100%;
  background: var(--primary);
  border-radius: 40px;
  transition: all 0.3s ease;
  z-index: 1;
}

.pricing__toggle.right-active::before {
  left: 46%;
}

.pricing__toggle-btn--active {
  color: var(--color-white);
}

.pricing__toggle-btn--active .pricing__toggle-discount {
  color: var(--color-white);
}

.pricing__plans {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding-bottom: 60px;
}

@media (--md-viewport) {
  .pricing__title {
    font-size: 36px;
    padding-bottom: 48px;
  }

  .pricing__toggle {
    width: 320px;
    height: 40px;
    margin-bottom: 48px;
  }

  .pricing__plans {
    gap: 24px;
    padding-bottom: 80px;
  }
}

@media (--lg-viewport) {
  .pricing__title {
    font-size: 46px;
    padding-bottom: 60px;
  }

  .pricing__toggle {
    width: 390px;
    height: 46px;
    margin-bottom: 60px;
  }

  .pricing__plans {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 120px;
  }
}
