.timeline {
  padding-bottom: 180px;
  padding-top: 120px;
}

.timeline__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  text-align: center;
  color: var(--text-primary);
  padding-bottom: 65px;
}

.timeline__steps {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  position: relative;
  max-width: 810px;
  margin: 0 auto;
  width: 100%;
}

.timeline__steps::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: 1px;
  background: #9a9ca5;
  opacity: 0.5;
  transform: translateX(-50%);
  height: 100%;
}

.timeline__step {
  display: contents;
}

.timeline__step-marker {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
  margin-top: 0;
}

.timeline__step-content {
  position: relative;
}

.timeline__step--left .timeline__step-content {
  grid-column: 1;
  text-align: right;
  padding-right: 40px;
}

.timeline__step--right .timeline__step-content {
  grid-column: 3;
  text-align: left;
  padding-left: 40px;
}

.timeline__step-number {
  font-weight: 900;
  font-size: 12px;
  line-height: 150%;
  color: var(--text-secondary);
  padding-bottom: 2px;
}

.timeline__step-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--text-primary);
  padding-bottom: 8px;
}

.timeline__step-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--text-secondary);
}

@media (width <= 1023px) {
  .timeline {
    padding: 80px 0 100px;
  }

  .timeline__title {
    font-size: 36px;
    padding-bottom: 48px;
  }

  .timeline__step--left .timeline__step-content {
    padding-right: 30px;
  }

  .timeline__step--right .timeline__step-content {
    padding-left: 30px;
  }
}

@media (width <= 767px) {
  .timeline {
    padding: 60px 0 80px;
  }

  .timeline__title {
    font-size: 28px;
    padding-bottom: 32px;
  }

  .timeline__step--left .timeline__step-content {
    padding-right: 24px;
  }

  .timeline__step--right .timeline__step-content {
    padding-left: 24px;
  }

  .timeline__step-title {
    font-size: 18px;
    padding-bottom: 6px;
  }

  .timeline__step-desc {
    font-size: 14px;
  }
}
