.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  min-width: 200px;
  padding: 8px;
}

.dropdown__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* Показываем dropdown при наведении */
.nav__item:hover .dropdown {
  opacity: 1;
  visibility: visible;
}

/* Поворачиваем стрелку при наведении */
.nav__item:hover .nav__link-icon--dropdown {
  transform: rotate(180deg);
}

.nav__link-icon--dropdown {
  transition: transform 0.3s ease;
}

.dropdown__link {
  font-size: 16px;
  color: var(--text-inverse-secondary);
  transition: color 0.3s ease-in-out;
}

.dropdown__link:hover {
  color: var(--text-inverse);
}
