.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.hero__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--text-inverse);
  padding-bottom: 32px;
}

.hero__subtitle {
  max-width: 810px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: var(--text-inverse-secondary);
  padding-bottom: 40px;
}

@media (width <= 1023px) {
  .hero__title {
    font-size: 44px;
  }

  .hero__subtitle {
    font-size: 15px;
  }
}
