.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 0 16px;
  padding-top: 20px;
  text-align: center;
}

.nav__logo {
  flex-shrink: 0;
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  color: var(--text-inverse);
  font-size: 16px;
  line-height: 160%;
}

.nav__btn {
  border-radius: 4px;
  height: 40px;
  min-width: 130px;
  background: var(--primary);
  color: var(--text-inverse);
  letter-spacing: 0.03em;
  font-size: 12px;
  border-color: transparent;
  flex-shrink: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav__btn:hover {
  background: var(--text-inverse);
  color: var(--primary);
  border-color: var(--primary);
  font-weight: 700;
}

.nav__link {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: var(--text-inverse-secondary);
}

.nav__link:hover {
  color: var(--text-inverse);
  font-weight: 700;
}

.nav__link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background: var(--color-white);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav__link:hover::after {
  width: 100%;
}

.nav__item {
  position: relative;
}

@media (--md-viewport) {
  .nav {
    flex-flow: row nowrap;
    gap: 10px;
    justify-content: space-between;
    text-align: left;
  }

  .nav__list {
    flex-flow: row wrap;
    gap: 15px;
    justify-content: center;
    flex-grow: 1;
    min-width: 0;
    padding: 13px 0;
  }

  .nav__logo {
    padding-right: 20px;
  }

  .nav__btn {
    min-width: 120px;
    height: 40px;
    font-size: 12px;
  }
}

@media (--lg-viewport) {
  .nav {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
  }

  .nav__logo {
    padding-right: 60px;
  }

  .nav__list {
    display: flex;
    gap: 40px;
    padding: 13px 0;
    flex-grow: 1;
    min-width: 0;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .nav__btn {
    height: 52px;
    min-width: 199px;
    font-size: 16px;
  }
}
