.nav {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1230px;
  padding: 0 16px;
  padding-top: 20px;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.nav__logo {
  padding-right: 60px;
  flex-shrink: 0; /* логотип не сжимается */
}

.nav__list {
  display: flex;
  gap: 40px;
  padding: 13px 0;
  flex-grow: 1;
  color: var(--text-inverse);
  font-size: 16px;
  line-height: 160%;
  min-width: 0;
}

.nav__btn {
  border-radius: 4px;
  height: 52px;
  min-width: 199px;
  background: var(--primary);
  color: var(--text-inverse);
  letter-spacing: 0.03em;
  font-size: 16px;
  border-color: transparent;
  flex-shrink: 0; /* кнопка не сжимается */
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav__btn:hover {
  background: var(--text-inverse);
  color: var(--primary);
  border-color: var(--primary);
  font-weight: 700;
}

.nav__link {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: var(--text-inverse-secondary);
}

.nav__link:hover {
  color: var(--text-inverse);
  font-weight: 700;
}

.nav__link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background: var(--color-white);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav__link:hover::after {
  width: 100%;
}

.nav__item {
  position: relative;
}
